
\.DS_Store

\.idea/marmoset\.iml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

marmoset/__pycache__/utils\.cpython-37\.pyc

marmoset/\.ipynb_checkpoints/marmoset_gradient-checkpoint\.ipynb

output/circle\.png

\.ipynb_checkpoints/README-checkpoint\.md

\.ipynb_checkpoints/LICENSE-checkpoint\.md

__pycache__/utils\.cpython-37\.pyc

\.ipynb_checkpoints/marmoset_figures-checkpoint\.ipynb

\.ipynb_checkpoints/requirements-checkpoint\.txt

\.ipynb_checkpoints/utils-checkpoint\.py

output/\.ipynb_checkpoints/circle-checkpoint\.png
